<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DevExpress-NuGet" value="https://nuget.devexpress.com/8DfrN1zbMsvudPNLq13fDNZLwhlP2C7xNird3Ohphfbue6JjKs/api/v3/index.json" />
  </packageSources>
</configuration>